@import url("https://fonts.googleapis.com/css?family=Raleway");

.font {
  font-style: Raleway
}

.logo {
  height: 50%;
  width: 17%;
  margin-left: 1%
}

nav ul li:hover {
   background-color: #363636
}
