<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <!--CSS-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lib/materialize.min.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.js') }}" media="screen,projection">
    <!--JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>
<body>
    <style>
        #parent {
            height: 100%;
            margin-top: 5%;
        }
        /*#child{
  margin-top: 50%;
}*/
    </style>
    <nav>
        <div class="navbar-fixed black">
            <a href="{{ url_for('default') }}" class="brand-logo" style="margin-left: 1%">
                <img src="/static/images/petsearch1.ico" style="height: 75%; width: 75%"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{ url_for('find_pet') }}" style="font-family: Raleway">Search</a></li>
              <li><a href="{{ url_for('sign_out') }}" style="font-family: Raleway">Sign out</a></li>
              <li><a href="{{ url_for('default') }}" style="font-family: Raleway">Main</a></li>
            </ul>
        </div>
    </nav>
<!--
    <div class="container">
        <div id="parent">
          <form action="{{ url_for('data_pets')}}" method="POST"  enctype="multipart/form-data">

              <h3 align="center" style="font-family: Raleway">Add a pet</h3>
              <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <select name="pet_type">
                      <option value="" disabled selected></option>
                       <option value="dog">Dog</option>
                       <option value="cat">Cat</option>
                    </select>
                      <label>Pet</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <select name="status">
                      <option value="" disabled selected></option>
                       <option value="lost">Lost</option>
                       <option value="found">Found</option>
                       <option value="sell">Give away</option>
                    </select>
                      <label>Status</label>
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <select name = "city">
                      <option value="" disabled selected></option>
                        <option value ="Lviv">Lviv</option>
                    </select>
                      <label>City</label>
                  </div>
              </div>



              <div class="row">
                  <div class="input-field col s6 offset-s3">
                      <select name="neighborhood">
                          <option value="" disabled selected></option>
                           <option value="Halycts'kyy district">Halycts'kyy district</option>
                           <option value="Zaliznychnyy district">Zaliznychnyy district</option>
                           <option value="Lychakivs'kyy district">Lychakivs'kyy district</option>
                           <option value="Sykhivs'kyy district">Sykhivs'kyy district</option>
                           <option value="Frankivs'kyy district">Frankivs'kyy district</option>
                           <option value="Shevchenkivs'kyy district">Shevchenkivs'kyy district</option>
               </select>
                 <label>District</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s6 offset-s3">
                     <input id="datepicker" type="date" class="datepicker" name="date">
                    <label class="active">Date</label>
                  </div>
              </div>


              <div class="row">
                  <div class="input-field col s6 offset-s3">
                      -input type="text" name="description" />
                      <textarea id="textarea1" type="text" class="materialize-textarea" data-length="120" name="description"></textarea>
                      <label class="active" for="description">Description</label>
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s6 offset-s3">
                    <input type="file" name = "inputFile">
                  </div>
              </div>
              <div class="row">
              <div class="file-field input-field col s6 offset-s3">
                    <div class="btn">
                      <span>Foto</span>
                      <input type="file" name="inputFile">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload a file">
                    </div>
                  </div>
                </div>

              <div class="row">
              <button class="col s2 offset-s7 btn waves-effect waves-light" type="submit" name="submit">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>

          </form>
        </div>
    </div>
-->
    <div id="basic-form">
      <div id="parent">
                  <div class="row">
                    <div class="col s6 offset-s3">
                      <div class="card-panel">
                        <div class="row">
                        <form action="{{ url_for('data_pets')}}" method="POST"  enctype="multipart/form-data">
                          <h3 align="center" style="font-family: Raleway">Add a pet</h3>
                          <div class="row">
                              <div class="input-field col s12">
                                <select name="pet_type">
                                  <option value="" disabled selected></option>
                                   <option value="dog">Dog</option>
                                   <option value="cat">Cat</option>
                                </select>
                                  <label>Pet</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                <select name="status">
                                  <option value="" disabled selected></option>
                                   <option value="lost">Lost</option>
                                   <option value="found">Found</option>
                                   <option value="sell">Give away</option>
                                </select>
                                  <label>Status</label>
                              </div>
                          </div>

                          <div class="row">
                              <div class="input-field col s12">
                                <select name = "city">
                                  <option value="" disabled selected></option>
                                    <option value ="Lviv">Lviv</option>
                                </select>
                                  <label>City</label>
                              </div>
                          </div>



                          <div class="row">
                              <div class="input-field col s12">
                                  <select name="neighborhood">
                                      <option value="" disabled selected></option>
                                       <option value="Halycts'kyy district">Halycts'kyy district</option>
                                       <option value="Zaliznychnyy district">Zaliznychnyy district</option>
                                       <option value="Lychakivs'kyy district">Lychakivs'kyy district</option>
                                       <option value="Sykhivs'kyy district">Sykhivs'kyy district</option>
                                       <option value="Frankivs'kyy district">Frankivs'kyy district</option>
                                       <option value="Shevchenkivs'kyy district">Shevchenkivs'kyy district</option>
                           </select>
                             <label>District</label>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col s12">
                            <label>Materialize DatePicker</label>
                            <input type="date" class="datepicker">
                          </div>
                        </div>


                          <div class="row">
                              <div class="input-field col s12">
                                  <textarea id="textarea1" type="text" class="materialize-textarea" data-length="120" name="description"></textarea>
                                  <label class="active" for="description">Description</label>
                              </div>
                          </div>


                          <div class="row">
                          <div class="file-field input-field col s12">
                                <div class="btn">
                                  <span>Foto</span>
                                  <input type="file" name="inputFile">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text" placeholder="Upload a file">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="row">
                                <div class="input-field col s12">
                                  <button class="btn waves-effect waves-light right" type="submit" name="submit">Submit
                                    <i class="material-icons right">send</i>
                                  </button>
                                </div>
                              </div>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

</body>

</html>
