<!DOCTYPE html>
<html>
<head>
    <title>main</title>
    <!--CSS-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lib/materialize.min.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.js') }}" media="screen,projection">
    <!--JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
        const auth = () => {
            const token = localStorage.getItem('token');
            if (token) {
                // session detected. Login form is unneeded
                console.log('Authorised');
            } else {
                window.location.href = '/login';
            }

        }
    </script>
    <style>
    .button_main{
      background-color:	#26a699;
      width: 250px;
      height: 250px;
      border-radius:250px;
      float:left;
      margin-left: 10%;
      color:white;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .button_main:hover{
      background-color: #2bbaac;
      box-shadow: 0 0 20px #696969;
      width: 250px;
      height: 250px;
      border-radius:250px;
      float:left;
      margin-left: 10%;
      margin-top: 60px;
      margin-bottom: 60px;
      color:white;
    }
    .text_button{
      /*margin:auto;*/
      position: relative;
      top: 30%;
      font-family: Raleway;
      font-size: 34px;
      /*position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;*/
      color:white;

    }
    </style>
</head>

<body>
  <nav>
      <div class="navbar-fixed black">
          <a href="{{ url_for('default') }}" class="brand-logo" style="margin-left: 1%">
              <img src="/static/images/petsearch1.ico" style="height: 75%; width: 75%"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{ url_for('sign_in') }}" style="font-family: Raleway">Sign in</a></li>
              <li><a href="{{ url_for('sign_up') }}" style="font-family: Raleway">Sign up</a></li>
              <li><a href="{{ url_for('default') }}" style="font-family: Raleway">Main</a></li>
          </ul>
      </div>
  </nav>


    <div class="homepage-hero-module">
        <div class="title-continer main-text">
            <h1 class="header center" style="font-size: 125px;
            font-family: Raleway">PetSearch</h1>
            <h4 class="header center" style="font-size: 25px;
            font-family: Raleway">Our mission is to resque. Our dream is that one day we won't have to.</h4>
        </div>
        <div class="video-container" style="padding-bottom: 49%">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
            <source src="static/cover_fon/MP4/Puppiness.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="static/cover_fon/WEBM/Puppiness.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
            <div class="poster hidden">
                <img src="static/cover_fon/Snapshots/Puppiness.jpg" alt="">
            </div>

        </div>

    </div>

<div style="margin-left: 5%">
    <a href="{{ url_for('i_lost_pet') }}" style="font-family: Raleway;" class="button_main tooltipped" data-delay="50" data-tooltip="I lost a pet">
            <img src="{{url_for('static', filename='images/8055-200.png') }}" style="margin: 19%; height: 60%; width: 60%">
    </a>


    <a href="{{ url_for('i_found_pet') }}" style="font-family: Raleway;" class="button_main tooltipped" data-position="bottom" data-delay="50" data-tooltip="I found a pet">
    <img src="{{url_for('static', filename='images/79171-200.png') }}" style="margin: 19%; height: 60%; width: 60%">
        </a>

    <a align="center" href="{{ url_for('i_want_pet') }}" style="font-family: Raleway;" class="button_main tooltipped" data-position="bottom" data-delay="50" data-tooltip="I want a pet">
          <img src="{{url_for('static', filename='images/41317-200.png') }}" style="margin: 19%; height: 60%; width: 60%">
    </a>
</div>

<div class="container" style="padding-bottom: 6%; padding-top:30%">
  <h3 style="font-family: Raleway">About us</h3><hr/>
  <h5 style="font-family: Raleway; line-height:130%; font-size:20px">There’s no secret that our city is full of homeless and lost animals.
    According to Lviv community shelter “Lev”’s estimates, there are more than
    600 homeless animals in Lviv. The main goal of our project is to decrease the amount of homeless dogs and cats on the streets
    of our city.
</h5>
</div>

<footer style="background-color:#1C1C1C">
          <div class="footer-copyright" style="background-color: black">
            <div class="container" style="font-family: Raleway; color: white">
              <br>
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" style="font-family: Raleway">PetSearch</a>
            <br><br>
            </div>
          </div>

        </footer>

</body>
</html>
