<!DOCTYPE html>
<html>

<head>
    <title>Scot
        <title>
            <!--CSS-->
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            <link rel="stylesheet" href="{{url_for('static', filename='css/lib/materialize.min.css') }}" media="screen,projection">
            <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}" media="screen,projection">
            <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.js') }}" media="screen,projection">
            <!--JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>

<body>
  <nav>
      <div class="navbar-fixed black">
          <a href="{{ url_for('default') }}" class="brand-logo" style="margin-left: 1%">
              <img src="/static/images/petsearch1.ico" style="height: 75%; width: 75%"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('find_pet') }}" style="font-family: Raleway">Search</a></li>
            <li><a href="{{ url_for('sign_out') }}" style="font-family: Raleway">Sign out</a></li>
            <li><a href="{{ url_for('default') }}" style="font-family: Raleway">Main</a></li>
          </ul>
      </div>
  </nav>

    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="/static/images/uploads/{{result[8]}}" alt="" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                            User: {{ result[1] }}<br>
                            City: {{result[4]}}<br>
                            District: {{result[5]}}<br>
                            Date: {{result[6]}}<br>
                            Info: {{result[7]}}

                      </h6>
                </span>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
