
<!DOCTYPE html>
<html>
<head>
  <title>main</title>
  <!--CSS-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/lib/materialize.min.css') }}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.js') }}" media="screen,projection">
  <!--JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
  const auth = () => {
    const token = localStorage.getItem('token');
      if (token) {
        // session detected. Login form is unneeded
        console.log('Authorised');
     } else {
       window.location.href = '/login';
     }

  }
  </script>
</head>
<body>
  <nav>
      <div class="navbar-fixed black">
          <a href="{{ url_for('default') }}" class="brand-logo" style="margin-left: 1%">
              <img src="/static/images/petsearch1.ico" style="height: 75%; width: 75%"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('find_pet') }}" style="font-family: Raleway">Search</a></li>
            <li><a href="{{ url_for('sign_out') }}" style="font-family: Raleway">Sign out</a></li>
            <li><a href="{{ url_for('default') }}" style="font-family: Raleway">Main</a></li>
          </ul>
      </div>
  </nav>
  <h4 class="header center" style="font-size: 25px;
  font-family: Raleway">{{ povidomlenya }}</h4>

</body>
</html>
