            <div class="row">
                {% for article in Articles %}

                <div class="col s12 m4">
                    <div class="icon-block center">
                        <img src="{{ url_for('static', filename='main/img/two.jpg') }}" class="circle responsive-img">
                        <h5 class="center">{{ article.child.name }}<br>{{article.child.surname }}</h5>
                        <p class="light">{{article.diagnosis}}.</p>
                        <a class="waves-effect waves-light btn" href="#">More</a>
                    </div>
                </div>
                {% endfor %}
              </div>
