<!DOCTYPE html>
<html>
<head>
  <title>main</title>
  <!--CSS-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/lib/materialize.min.css') }}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.js') }}" media="screen,projection">
  <!--JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
  const auth = () => {
    const token = localStorage.getItem('token');
      if (token) {
        // session detected. Login form is unneeded
        console.log('Authorised');
     } else {
       window.location.href = '/login';
     }

  }
  </script>
  <style>


  .image-cropper {
    width: 125px;
    height: 125px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8)
;
}

    .img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    }
  </style>
</head>
<body>
  <nav>
      <div class="navbar-fixed black">
          <a href="{{ url_for('default') }}" class="brand-logo" style="margin-left: 1%">
              <img src="/static/images/petsearch1.ico" style="height: 75%; width: 75%"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('find_pet') }}" style="font-family: Raleway">Search</a></li>
            <li><a href="{{ url_for('sign_out') }}" style="font-family: Raleway">Sign out</a></li>
            <li><a href="{{ url_for('default') }}" style="font-family: Raleway">Main</a></li>
          </ul>
      </div>
  </nav>
  <h4 class="header center" style="font-size: 25px;
  font-family: Raleway">Search results:</h4>
  <h4 class="header center" style="font-size: 25px;
  font-family: Raleway">{{povidomlenya}}</h4>

<div class="row">
    {% for result in pretenders %}

    <div class="col s12 m4">
        <div class="icon-block center">
            <!-- <img src="{{ url_for('static', filename='main/img/two.jpg') }}" class="circle responsive-img"> -->
            <h6 class="center">
              <br><br>
              <div class="image-cropper">
              <img class="img" src="/static/images/uploads/{{result[8]}}"/></div><br>

              User: {{ result[1] }}<br>
              City: {{result[4]}}<br>
              District: {{result[5]}}<br>
              Date: {{result[6]}}<br>
              Info: {{result[7]}}

            </h6>
            <a class="waves-effect waves-light btn" href="#">More</a>

        </div>
    </div>

    {% endfor %}
    <br><br>
  </div>
  <br>

<a href="{{ url_for('add_pet') }}" style="font-family: Raleway; color: black">
  <h6 align="center">I still can't find the pet that I'm looking for. <br>Add my pet to the database</h6>
</a>


</body>
</html>
