<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <!--CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lib/materialize.min.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign_up.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.js') }}" media="screen,projection">
    <!--JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <style>
    body {
      background-image: url(static/images/fon-pets.jpg);
    }
    </style>
</head>
<style>
#parent {
    height: 100%;
    margin-top: 5%;
}
/*#child{
margin-top: 50%;
}*/
</style>
<body>
  <nav>
      <div class="navbar-fixed black">
          <a href="{{ url_for('default') }}" class="brand-logo" style="margin-left: 1%">
              <img src="/static/images/petsearch1.ico" style="height: 75%; width: 75%"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{ url_for('sign_in') }}" style="font-family: Raleway">Sign in</a></li>
              <li><a href="{{ url_for('sign_up') }}" style="font-family: Raleway">Sign up</a></li>
              <li><a href="{{ url_for('default') }}" style="font-family: Raleway">Main</a></li>
          </ul>
      </div>
  </nav>

<!--
    <div class="container">
        <div id="parent">
            <form action="{{ url_for('data_users')}}" method="POST">
                <h3 align="center" style="font-family: Raleway">Sign up</h3>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="text" name="login" />
                        <label class="active" for="login">Login</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="text" name="nm" />
                        <label class="active" for="nm">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="text" name="surname" />
                        <label class="active" for="surname">Surname</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="text" name="city" />
                        <label class="active" for="city">City</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="email" name="email" />
                        <label class="active" for="email">E-mail</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="text" name="phone" />
                        <label class="active" for="phone">Phone</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <select name="neighborhood">
                  <option value="" disabled selected></option>
                   <option value="Halych district">Halycts'kyy district</option>
                   <option value="Railway district">Zaliznychnyy district</option>
                   <option value="Lychakiv district">Lychakivs'kyy district</option>
                   <option value="Sykhiv district">Sykhivs'kyy district</option>
                   <option value="Franko district">Frankivs'kyy district</option>
                   <option value="Shevchenko district">Shevchenkivs'kyy district</option>
                 </select>
                   <label>Neighborhood</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="text" name="pin" />
                        <label class="active" for="pin">Password</label>
                    </div>
                </div>

                <div class="row">
                <button class="col s2 offset-s7 btn waves-effect waves-light" type="submit" name="submit">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>

            </form>
        </div>
    </div>
-->
    <div id="basic-form">
      <div id="parent">
      <div id="child">
                  <div class="row">
                    <div class="col s6 offset-s3">
                      <div class="card-panel">
                        <h4 class="header2" style="text-align: center;font-family: Raleway">Sign up</h4>
                        <div class="row">
                          <form class="col s12" action = "{{  url_for('data_users') }}" method = "POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="login" />
                                    <label class="active" for="login">Login</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="nm" />
                                    <label class="active" for="nm">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="surname" />
                                    <label class="active" for="surname">Surname</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="city" />
                                    <label class="active" for="city">City</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="email" name="email" />
                                    <label class="active" for="email">E-mail</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="phone" />
                                    <label class="active" for="phone">Phone</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <select name="neighborhood">
                                      <option value="" disabled selected></option>
                                       <option value="Halycts'kyy district">Halycts'kyy district</option>
                                       <option value="Zaliznychnyy district">Zaliznychnyy district</option>
                                       <option value="Lychakivs'kyy district">Lychakivs'kyy district</option>
                                       <option value="Sykhivs'kyy district">Sykhivs'kyy district</option>
                                       <option value="Frankivs'kyy district">Frankivs'kyy district</option>
                                       <option value="Shevchenkivs'kyy district">Shevchenkivs'kyy district</option>
                             </select>
                               <label>District</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="password" name="pin" />
                                    <label class="active" for="pin">Password</label>
                                </div>
                            </div>

                            <div class="row">
                              <div class="row">
                                <div class="input-field col s12">
                                  <button class="btn waves-effect waves-light right" type="submit" name="submit">Submit
                                    <i class="material-icons right">send</i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div style="margin-left:2%">
                            <h6 align="left" style="font-family: Raleway">Already have an account?
                            <a href="{{ url_for('sign_in') }}" style="font-family: Raleway"><h6>Sign in</h6></a></h6></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</body>

</html>
