<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--CSS-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lib/materialize.min.css') }}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign_in.css') }}" media="screen,projection">
      <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.js') }}" media="screen,projection">
      <link rel="stylesheet" href="{{url_for('static', filename='js/localstorage.js') }}" media="screen,projection">
    <!--JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<style>
body {
  background-image: url(static/images/fon-pets.jpg);
}
</style>
</head>
<body>
<style>
#parent {height: 100%; margin-top: 5%;}
/*#child{
  margin-top: 50%;
}*/
</style>
<nav>
    <div class="navbar-fixed black">
        <a href="{{ url_for('default') }}" class="brand-logo" style="margin-left: 1%">
            <img src="/static/images/petsearch1.ico" style="height: 75%; width: 75%"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('sign_in') }}" style="font-family: Raleway">Sign in</a></li>
            <li><a href="{{ url_for('sign_up') }}" style="font-family: Raleway">Sign up</a></li>
            <li><a href="{{ url_for('default') }}" style="font-family: Raleway">Main</a></li>
        </ul>
    </div>
</nav>

<!--
  <div id="basic-form" class="section">
    <div class="container">
      <div id="parent">
      <div id="child">
        <form action = "{{  url_for('admission') }}" method = "POST">
            <h3 align="center" style="font-family: Raleway">Sign in</h3><br>
            <h6 align="center" style="font-family: Raleway">{{povidomlenya}}</h6><br>
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input type="text" id="login_form" name="login"/>
                <label class="active" for="login">Login</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input type="password" id="password_form" name="pin"/>
                <label class="active" for="pin">Password</label>
              </div>
          </div>
          <div class="row">
          <button class="col s2 offset-s7 btn waves-effect waves-light" type="submit" name="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>

        <div style="margin-left:26%">
        <h6 align="left" style="font-family: Raleway">Don't have an account?
        <a href="{{ url_for('sign_up') }}" style="font-family: Raleway"><h6>Sign up</h6></a></h6></div>
        </form>
      </div>
    </div>




      </div>
      </div>
-->

      <div id="basic-form">
        <div id="parent">
        <div id="child">
                    <div class="row">
                      <div class="col s6 offset-s3">
                        <div class="card-panel">
                          <h4 class="header2" style="text-align: center;font-family: Raleway">Sign in</h4>
                          <h6 align="center" style="font-family: Raleway">{{povidomlenya}}</h6><br>
                          <div class="row">
                            <form class="col s12" action = "{{  url_for('admission') }}" method = "POST">
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="login_form" name="login"/>
                                    <label class="active" for="login">Login</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="password" id="password_form" name="pin"/>
                                    <label class="active" for="pin">Password</label>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="row">
                                  <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light right" type="submit" name="submit">Submit
                                      <i class="material-icons right">send</i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div style="margin-left:2%">
                              <h6 align="left" style="font-family: Raleway">Don't have an account?
                              <a href="{{ url_for('sign_up') }}" style="font-family: Raleway"><h6>Sign up</h6></a></h6></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

</body>
</html>
